/* 공통 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px
}

strong {
    font-weight: bold;
}

/* 아이콘이나 스프라이트 배경이 필요할경우 선택자 클래스명을 넣기 */
.header .group-search form fieldset .btn-keyboard::before,
.header .group-search form fieldset .btn-auto::before,
.header .group-navi [class*="ico-"]:before,
.header .group-navi [class*="ico-"]::after,
.header .util-area [class*="btn-"]::after,
.sc-news .group-issue .issue-area .btn-all::after,
.sc-login .link-login::before,
.footer .footer-group .notice-area .link-all:after,
.main-col-right .sc-weather .header_wrap .wth_data::before,
.sc-news .group-control .set-area .btn-list::after,
.sc-news .group-control .set-area .btn-thumb::after,
.control-fx .group-control .btn-prev:before,
.control-fx .group-control .btn-next:before,
.sc-finance .group-header .info-more:before,
.sc-finance .group-header .refresh:before,
.main-col-right .sc-widgetboard .group-header .ico-vibe,
.main-col-right .sc-widgetboard .wigetbox .papago .papago-link:after,
.main-col-right .sc-widgetboard .wigetbox .dict .link_search::after,
.mobile_link .mlink_txt::before,
.mobile_link .mlink_txt::after,
.sc-finance .group-data .info-box .ico_stock,
.sc-widgetboard .wigetbox>div.vibe .scroll-col .vibe_item .ico_play:before,
.main-col-right .sc-widgetboard .wigetbox .papago .papago_ico,
.layer_btn .top:before,
.layer_btn .system:before {
    background-image: url(../images/sp-bg.png);
    background-repeat: no-repeat;
    background-size: 434px;
}

.group-shopping .shop-area-right .shopping-wrap li a [class*="ico"]:after {
    background-image: url(../images/sp-shop.png);
    background-size: 158px 137px;
    background-repeat: no-repeat;
}

.sc-weather .group-data .info-item .ico:before,
.sc-weather .group-data .data-wrap .data-box .wth_ico:after {
    background-image: url(../images/sp-wth.png);
    background-size: 641px;
    background-repeat: no-repeat;
}