@import './reset.css';
@import './common.css';

/* 헤더 풋터 프레임 */
.header {
    position: relative;
    width: 1280px;
    height: 267px;
    margin: 0 auto;
}

.header .group-search {
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    width: 706px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.header .group-search .logo a {
    display: block;
    padding: 17px 16px 17px 27px;
}

.header .group-search .logo a svg {
    width: 24px;
    height: 24px;
    fill: #03c75a;
}

.header .group-search form {
    flex: 1;
}

.header .group-search form fieldset {
    display: flex;
    height: 100%;
}

.header .group-search form fieldset .input-text {
    flex: 1;
    color: #000;
    color: var(--color_search);
    padding: 17px 0;
    font-size: 2rem;
    line-height: 24px;
    font-weight: bold;
    outline: 0;
    border: 0;
}

.header .group-search form fieldset .btn-keyboard {
    padding: 0px 3px;
}

.header .group-search form fieldset .btn-keyboard::before {
    display: block;
    width: 24px;
    height: 14px;
    content: '';
    background-position: -254px -254px;
}

.header .group-search form fieldset .btn-auto {
    padding: 0px 6px;
}

.header .group-search form fieldset .btn-auto::before {
    display: block;
    width: 10px;
    height: 6px;
    content: '';
    background-position: -318px -247px;
}

.header .group-search form fieldset .btn-submit {
    padding: 0 27px 0 10px;
}



.header .group-search form fieldset .btn-submit svg {
    width: 25px;
    height: 25px;
    fill: #03c75a;
}

.header .search-right-banner {
    position: absolute;
    top: 80px;
    right: 0
}

.header .group-navi {
    position: absolute;
    width: 676px;
    top: 142px;
    left: 50%;
    transform: translateX(-50%);
}

.header .group-navi ul {
    display: flex;
}

.header .group-navi ul li {
    flex: 1;
}

.header .group-navi ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.header .group-navi [class*="ico-"] {
    position: relative;
    width: 48px;
    height: 48px;
}

.header .group-navi [class*="ico-"]:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -3px;
    background-position: 0px -128px;
    width: 54px;
    height: 54px;
}

.header .group-navi [class*="ico-"]:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    margin: auto;
    content: '';
}

.header .group-navi .ico-mail::after {
    background-position: -250px -90px;
}

.header .group-navi .ico-cafe::after {
    background-position: -250px 0px;
}

.header .group-navi .ico-blog::after {
    background-position: -201px -98px;
}

.header .group-navi .ico-shopping::after {
    background-position: -90px -209px;
}

.header .group-navi .ico-news::after {
    background-position: 0px -209px;
}

.header .group-navi .ico-stock::after {
    background-position: -180px -209px;
}

.header .group-navi .ico-real::after {
    background-position: -45px -209px;
}

.header .group-navi .ico-map::after {
    background-position: -201px 0px;
}

.header .group-navi .ico-webtoon::after {
    background-position: -225px -209px;
}

.header .group-navi .ico-czz::after {
    background-image: url(../images/czz.png);
    background-size: 44px;
    background-repeat: no-repeat;
}

.header .group-navi .ico-more::after {
    background-position: -250px -135px;
}

.header .util-area {
    display: flex;
    position: absolute;
    top: 18px;
}

.header .util-area.left {
    left: -10px;
}

.header .util-area.left .btn-menu:after {
    background-position: 0px -333px;
}

.header .util-area.left .btn-pay:after {
    background-position: -295px -177px;
    width: 32px;
    height: 32px;
}

.header .util-area.right .btn-talk:after {
    background-position: -108px -333px;
}

.header .util-area.right .btn-alert:after {
    background-position: -54px -333px;
}

.header .util-area.right {
    right: -10px
}

.header .util-area [class*="btn-"] {
    padding: 10px;
}


.header .util-area [class*="btn-"]::after {
    display: block;
    width: 26px;
    height: 26px;
    content: '';
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer {
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in_divider);
    background-color: #f5f6f7;
}

.footer .footer-group {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 78px;
    font-size: 1.3rem;
}

.footer .footer-group .public-area {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);
    overflow: hidden;
    padding: 30px 0;
    gap: 20px;
}

.footer .footer-group .public-area .public-box {
    display: flex;
    flex: 1
}

.footer .footer-group .public-area .public-img {
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 6px;
    isolation: isolate;
}

.footer .footer-group .public-area .public-img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: inherit;
    content: '';
}

.footer .footer-group .public-area .public-img img {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    image-rendering: -webkit-optimize-contrast;
}


.footer .footer-group .public-area .public-wrap .aside-subtit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    max-width: 141px;
    padding: 0 6px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #fff;
    background-color: #a0adb2;
    vertical-align: top;
}

.footer .footer-group .public-area .public-wrap .aside-tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: -0.25px;
    color: #222122;
    letter-spacing: -0.7px;
    font-weight: bold;
}

.footer .footer-group .public-area .public-wrap {
    overflow: hidden;
    height: 100px;
    padding: 5px 3px 0 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .footer-group .public-area .public-wrap .public-desc {
    margin-top: 6px;
}

.footer .footer-group .public-area .public-wrap .public-desc,
.footer .footer-group .public-area .public-wrap .public-desc2 {
    letter-spacing: -0.7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.43;
    color: #545454;
}

.footer .footer-group .notice-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);
    padding: 21px 0;
    line-height: 17px;
}

.footer .footer-group .notice-area h3 {
    font-weight: bold;
}

.footer .footer-group .notice-area .link-all {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.footer .footer-group .notice-area .link-all:after {
    content: "";
    background-position: -425px -37px;
    width: 8px;
    height: 12px;
    margin-left: 10px;
}

.footer .footer-group .aside-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    border-bottom: 1px solid var(--color_border_in_divider);

}

.footer .footer-group .aside-area .link-wrap {
    display: flex;
    gap: 30px;
}

.footer .footer-group .aside-area .link-wrap span {
    font-weight: bold;
}

.footer .footer-group .aside-area .link-wrap a {
    display: block;
}

.footer .footer-group .aside-area .aside-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
}

.footer .footer-group .aside-area .aside-wrap [class*="-box"] {
    display: flex;
    align-items: center;
    gap: 9px;

}

.footer .footer-group .aside-area .aside-wrap [class*="-box"] h3 {
    width: 87px;
    font-weight: bold;

}

.footer .footer-group .aside-area .aside-wrap [class*="-box"] ul {
    display: flex;
}

.footer .footer-group .aside-area .aside-wrap [class*="-box"] ul li {
    display: flex;
    align-items: center;
    color: #404040;
    color: var(--color_caption1);
}

.footer .footer-group .aside-area .aside-wrap [class*="-box"] ul>li+li:before {
    content: "";
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}

.footer .footer-group .aside-area .link-wrap .browser,
.footer .footer-group .aside-area .link-wrap .co-site {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .footer-group .aside-area .link-wrap .browser-info,
.footer .footer-group .aside-area .link-wrap .site-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .footer-group .com-area {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.footer .footer-group .com-area .com-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-group .com-area .com-item {
    color: #404040;
    color: var(--color_caption1);
    display: flex;
    align-items: center;
}

.footer .footer-group .com-area li+li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 10px;
}