/* 메인페이지만 메인만 헤더풋터가 다를경우 따로 지정  */

/* main common */

/* border */
.common-frame {
    background-color: #fff;
    background-color: var(--color_block_bg);
    position: relative;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    overflow: hidden;
}

/*img border*/
.img-border {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.img-border:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1px;
    perspective: 1px;
}

/* 섹션 내 공통 control flex 디자인일때 section class 에 group-fx 추가 */
.control-fx .group-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    padding: 10px 0 11px;
}

.control-fx .group-control [class*="btn-"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 10px;
    height: 12px;
    margin: auto;
}

.control-fx .group-control .btn-prev:before {

    background-position: -196px -404px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.control-fx .group-control .btn-next:before {
    background-position: -196px -404px;
}

.control-fx .group-control .btn-prev,
.control-fx .group-control .btn-next {
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button1_bg);
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}

.control-fx .group-control .fraction {
    color: #606060;
    color: var(--color_caption2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 35px;
    font-weight: 600;
    vertical-align: top;
}

.control-fx .group-control .fraction .total {
    color: rgba(96, 96, 96, .5);
}

.control-fx group-control .fraction .total {
    color: rgba(96, 96, 96, .5);
}

/* 섹션 내 공통 header flex 디자인일때 section class 에 header-fx 추가 */
.header-fx .group-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 17px;
    align-items: center;
}

.header-fx .group-header ul {
    display: flex;
}

.header-fx .group-header .tab-item a {
    font-size: 1.6rem;
    line-height: 23px;
    font-weight: 800;
    color: #08080880;
    -webkit-font-smoothing: antialiased;
}

.header-fx .group-header .tab-item.on a {
    color: #080808;
    color: 'var(--color_title)'
}

.header-fx .group-header .tab-item.dot::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 9px 7px 0;
    border-radius: 50%;
    vertical-align: top;
}

.header-fx .group-header .tab-item.cate {
    position: relative;
    padding-left: 26px;
}

.header-fx .group-header .tab-item.cate::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #ccc;
    top: 5px;
    left: 13px;
    transform: skewX(-15deg);
}

/* main */
.container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.main-col-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 830px;
}

/* 뉴스 섹션 */
.sc-news .group-issue {
    display: flex;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    margin: 0 20px;
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
}

.sc-news .group-issue .issue-area {
    display: flex;
    flex: 1;
    min-width: 0;
}

.sc-news .group-issue .issue-area .btn-all::after {
    content: '';
    background-position: -425px -178px;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin: 10px 0 0 5px;
}

.sc-news .group-issue .issue-area .media {
    position: relative;
    padding-left: 25px;
}

.sc-news .group-issue .issue-area .media::before {

    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    width: 1px;
    height: 12px;
}

.sc-news .group-issue .issue-area .media::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 12px 6px 0 6px;
    border-radius: 50%;
    vertical-align: top;
}

.sc-news .group-issue .issue-area .issue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.sc-news .group-issue .news-area {
    display: flex;
}

.sc-news .group-issue .news-area a:last-child {
    position: relative;
    padding-left: 25px;

}


.sc-news .group-issue .news-area a+a::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}

.sc-news .group-media {
    margin: 18px 20px 18px 20px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    height: 224px;
    border-radius: 4px;
}

.sc-news .group-media .media-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;


}

.sc-news .group-media .media-list .media-item a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sc-news .group-media .media-list .media-item img {
    height: 20px;
}

.sc-news .group-media .vt-line {
    position: absolute;
    width: 1px;
    top: 0;
    background-color: #ebebeb;
    height: 100%;
}

.sc-news .group-media .vt-line.vt1 {
    left: calc(131px*1)
}

.sc-news .group-media .vt-line.vt2 {
    left: calc(131px*2)
}

.sc-news .group-media .vt-line.vt3 {
    left: calc(131px*3)
}

.sc-news .group-media .vt-line.vt4 {
    left: calc(131px*4)
}

.sc-news .group-media .vt-line.vt5 {
    left: calc(131px*5)
}

.sc-news .group-media .hr-line {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #ebebeb;
    height: 1px;
}

.sc-news .group-media .hr-line.hr1 {
    top: calc(56px*1)
}

.sc-news .group-media .hr-line.hr2 {
    top: calc(56px*2)
}

.sc-news .group-media .hr-line.hr3 {
    top: calc(56px*3)
}





.sc-news .group-control .fraction .media {
    color: #3a67ea;
    color: var(--color_news);
}



.sc-news .group-control .set-area {
    display: flex;
    flex: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sc-news .group-control .set-area [class*="btn-"] {
    display: flex;
}

.sc-news .group-control .set-area [class*="btn-"]:after {
    content: '';
    width: 20px;
    height: 20px;
}

.sc-news .group-control .set-area .btn-list {
    padding: 18px 9px 18px 20px;
}

.sc-news .group-control .set-area .btn-list::after {
    background-position: -157px -360px;

}

.sc-news .group-control .set-area .btn-thumb {
    padding: 18px 20px 18px 9px;
}

.sc-news .group-control .set-area .btn-thumb::after {
    background-position: -389px -42px;
}

/* commerce section */
.sc-commerce .group-benefit {
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 25px;
}

.sc-commerce .group-benefit .benefit-area {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: var(--color_option_bg);
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
}

.sc-commerce .group-benefit .benefit-area .today_bene {
    display: flex;
    position: relative;
    padding-right: 19px;
    font-weight: 700;
    align-items: center;
}

.sc-commerce .group-benefit .benefit-area .today_bene:after {
    content: "";
    display: block;
    position: absolute;
    right: 8px;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
}

.sc-commerce .group-benefit .benefit-area .today_issue {
    flex: 1 1;
    display: flex;
    min-width: 0;
    align-items: center;
    gap: 5px;
}

.sc-commerce .group-benefit .benefit-area .today_issue img {
    height: 13px;
}

.sc-commerce .group-benefit .benefit-area {}

.pagecontrol-area {
    display: flex;
    align-items: center;
}

.pagecontrol-area .fraction {
    display: flex;
    margin-right: 9px;
    color: #606060;
    color: var(--color_caption2);
    font-size: 1.3rem;
    font-weight: 600;
}

.pagecontrol-area .fraction .current {
    color: #606060;
    color: var(--color_caption2);
    font-size: 1.3rem;
    font-weight: 600;
}

.pagecontrol-area .fraction .total {
    color: rgba(113, 113, 113, .6);
}

.pagecontrol-area .fraction {}

.pagecontrol-area button {
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid rgba(211, 213, 215, .8);
}

.pagecontrol-area button .paging {
    display: inline-block;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pagecontrol-area button.btn-prev {
    border-radius: 4px 0 0 4px;
}

.pagecontrol-area button.btn-prev .paging:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left: 2px;
    border-left: 2px solid #80868c;
    border-bottom: 2px solid #80868c;
    margin-left: 1px;
}

.pagecontrol-area button.btn-next {
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

.pagecontrol-area button.btn-next .paging:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left: -2px;
    border-top: 2px solid #80868c;
    border-right: 2px solid #80868c;
    margin-left: -1px;
}

.sc-commerce .shop-color {
    color: #9858f5;
}

.sc-commerce .group-control .tag_ad {
    position: absolute;
    top: 18px;
    right: 20px;
    border: 1px solid #e3e5e8;
    border: 1px solid var(--color_border_out);
    color: #606060;
    color: var(--color_caption2);
    width: 30px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: center;
}

.sc-commerce .group-shopping {
    display: flex;
    height: 394px;
    padding: 18px 20px 1px;
    gap: 20px
}

.sc-commerce .group-shopping .shop-area-left {
    position: relative;
    width: 522px;
}

.sc-commerce .group-shopping .shop-area-left>ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 8px;
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
    align-content: space-between;
}

.sc-commerce .group-shopping .shop-area-left .shop-link .link-info {
    display: block;
    overflow: hidden;
    font-size: 1.3rem;
    line-height: 19px;
    letter-spacing: -.4px;
    white-space: nowrap;
}

.sc-commerce .group-shopping .shop-area-left .shop-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sc-commerce .group-shopping .shop-area-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1;
}

.sc-commerce .group-shopping .shop-area-right .mall-wrap {
    position: relative;
    padding: 9px 11px 4px;
    border-radius: 4px;
    background: rgba(245, 248, 251, .6);
}

.sc-commerce .group-shopping .shop-area-right .mall-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: inherit;
}

.sc-commerce .group-shopping .shop-area-right .mall-wrap .mall-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.sc-commerce .group-shopping .shop-area-right .mall-wrap .mall-box a {
    color: #404040;
    color: var(--color_caption1);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.sc-commerce .group-shopping .shop-area-right .mall-wrap .mall-box .mall_dot {
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap {
    position: relative;
    padding: 9px;
    border-radius: 4px;
    background: rgba(245, 248, 251, .6);
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: inherit;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap ul {
    position: relative;
    display: flex;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li {
    flex: 1 1;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: #404040;
    color: var(--color_caption1);
    margin-top: 2px;
    font-size: 13px;
    line-height: 20px;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a [class*="ico-"] {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(238, 242, 248, .8);
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a [class*="ico-"]:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a .ico-shop.home:after {
    background-position: -34px 0;

}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a .ico-shop.point:after {
    background-position: -68px -34px;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a .ico-shop.order:after {
    background-position: -34px -34px;
}

.sc-commerce .group-shopping .shop-area-right .shopping-wrap li a .ico-shop.bag:after {
    background-position: -19px -121px;
    width: 17px;
    height: 16px;
}

.sc-commerce .group-shopping .shop-area-right .event-p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 19px;
    text-align: center;
}

.sc-recipe {}

.sc-recipe .feed_box {
    position: relative;
    margin: 0 20px;
}

.sc-recipe .feed_box+.feed_box {
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    padding: 20px 0;
}

.sc-recipe .feed_box .feed-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-bottom: 24px;
}

.sc-recipe .feed_box .feed-item {
    flex: 1;
}

.sc-recipe .feed_box .feed-item a.item-link {}

.sc-recipe .feed_box .feed-item a.item-link .em {
    color: #ebaa00;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 1.3rem;
    line-height: 20px;
    font-weight: 700;
}

.sc-recipe .feed_box .feed-item a.item-link strong {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-weight: 600;
}

.sc-recipe .feed_box .feed-item a.item-link .sub-p {
    display: block;
    overflow: hidden;
    max-height: 40px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #404040;
    color: var(--color_caption1);
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
}

.sc-recipe .feed_box .recipe-list {
    display: grid;
    column-gap: 28px;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.sc-recipe .feed_box .recipe-list li {
    min-width: 0;
}

.sc-recipe .feed_box a.rec-link {}

.sc-recipe .feed_box a.rec-link .rec-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-img {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 4px;
    width: 154px;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1px;
    perspective: 1px;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt {
    flex: 1;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt .rec-tit {
    display: -webkit-box;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}



.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt .rec-blog {
    display: -webkit-box;
    display: -ms-flexbox;

    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt .blog-profile {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
    margin: 0 6px 0 0;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt .blog-profile:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: inherit;
}

.sc-recipe .feed_box a.rec-link .rec-wrap .rec-txt .rec-blog img {
    border: inherit;
    width: 20px;
    height: 20px;
}

.sc-recipe .feed_box .feed_tit {
    display: block;
    padding: 0 0 15px;
    font-size: 1.5rem;
    line-height: 22px;
    font-weight: 800;
}

.sc-recipe .feed_box .feed-item a.item-link {
    display: flex;
    flex-direction: column;
}

.sc-recipe .feed_box .feed-item a.item-link .em {
    color: #ebaa00;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 1.3rem;
    line-height: 20px;
    font-weight: 700;
}

.sc-recipe .feed_box .feed-item a.item-link strong {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-weight: 600;
}

.sc-recipe .feed_box .feed-item a.item-link .sub-p {
    display: block;
    overflow: hidden;
    max-height: 40px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #404040;
    color: var(--color_caption1);
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
}


.sc-recipe .feed_box .scroll-type-item a.item-link .item-img {
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.sc-recipe .feed_box .item-link .rec-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
}

.sc-recipe .feed_box .item-link .rec-blog .blog-profile {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
    margin: 0 6px 0 0;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
}

.sc-recipe .feed_box .item-link .rec-blog .blog-profile:beforre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: inherit;
}

.sc-recipe .feed_box .item-link .rec-blog .blog-profile img {
    border: inherit;
    width: 20px;
    height: 20px;
}

.sc-recipe .group-control .btn_plus {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sc-recipe .group-control .ico_plus {
    position: relative;
    width: 10px;
    height: 10px;
}

.sc-recipe .group-control .ico_plus:before {
    position: absolute;
    content: '';
    background-color: #ebaa00;
    left: 50%;
    top: 4px;
    bottom: 4px;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sc-recipe .group-control .ico_plus:after {
    position: absolute;
    content: '';
    background-color: #ebaa00;
    top: 50%;
    left: 4px;
    right: 4px;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-col-right {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-col-right h2 {
    color: #080808;
    color: var(--color_title);
    display: inline-block;
    padding-right: 7px;
    font-size: 1.5rem;
    font-weight: 800;
    vertical-align: top;
}

/* 로그인 */
.sc-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 20px 18px;
}

.sc-login .login-more {
    display: flex;
    justify-content: center;
    color: #606060;
    color: var(--color_caption2);
    margin-top: 16px;
    font-size: 1.3rem;
}

.sc-login .login-more a {
    display: flex;
    align-items: center;
}

.sc-login .login-more a+a::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 12px;
}

.sc-login .link-login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
    background-color: #03c75a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    color: #fff;
}

.sc-login .link-login::before {
    width: 72px;
    height: 14px;
    background-position: -120px -166px;
    content: '';
}

/*날씨*/
.sc-weather .group-header {
    display: flex;
    padding: 6px 0;
    line-height: 40px;
}

.sc-weather .group-header .header_wrap {
    display: flex;
    flex: 1;
}

.sc-weather .header_wrap .wth_data {
    border: 1px solid var(--color_border_in_divider);
    background-color: var(--color_button1_bg);
    color: var(--color_caption2);
    display: inline-block;
    min-width: 75px;
    height: 26px;
    margin-top: 7px;
    padding: 0 10px 0 7px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 25px;
    vertical-align: top;
    text-decoration: none;
}

.sc-weather .header_wrap .wth_data::before {
    content: "";
    display: inline-block;
    background-position: -117px -404px;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
    vertical-align: top;
}



.sc-weather .header_wrap .wth_data .info-list {}

.sc-weather .header_wrap .wth_data .info-list {}

.sc-weather .location {
    color: var(--color_caption2);
    margin-left: auto;
    font-size: 1.3rem;
}

.sc-weather .group-data {
    display: flex;
    position: relative;
    gap: 18px;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
}

.sc-weather .group-data .data-wrap {
    flex: 1;
}

.sc-weather .group-data .data-wrap .data-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sc-weather .group-data .data-wrap .data-box .info-temp {
    display: flex;
    align-items: center;
}

.sc-weather .group-data .data-wrap .data-box .info-temp .temp_row {
    color: #3172e7;
}

.sc-weather .group-data .data-wrap .data-box .info-temp .temp_high {
    color: #cd3534;
}

.sc-weather .group-data .data-wrap .data-box .info-temp .temp_high:before {
    content: "";
    display: block;
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 5px 0 3px;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    vertical-align: -1px;
}

.sc-weather .group-data .data-wrap .data-box .wth-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.sc-weather .group-data .data-wrap .data-box .wth_ico {
    width: 86px;
    height: 86px;
    margin-right: 4px;
}

.sc-weather .group-data .data-wrap .data-box .wth_ico:after {
    content: "";
    display: block;
    background-position: -87px 0px;
    width: 86px;
    height: 86px;
}

.sc-weather .group-data .data-wrap .data-box .wth_txt {
    display: flex;
    flex-direction: column;
}

.sc-weather .group-data .data-wrap .data-box .wth_status {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
}

.sc-weather .group-data .data-wrap .data-box .wth_temp {
    min-width: 0;
    font-size: 3.9rem;
    line-height: 48px;
    letter-spacing: -2px;
}

.sc-weather .group-data .data-wrap .dust-box {
    display: block;
    margin-top: 6px;
    line-height: 20px;
    text-align: center;
}

.sc-weather .group-data .data-wrap .dust-box .dust-text+.dust-text:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 8px 6px 0;
    border-radius: 50%;
    vertical-align: top;
}

.sc-weather .group-data .data-wrap .dust-box .dust-txt {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: top;
    line-height: 20px;
    text-align: center;
}

.sc-weather .group-data .data-wrap .dust-box .dust-status {
    padding-left: 4px;
}

.sc-weather .group-data .data-wrap .dust-box .dust-status.s01 {
    color: #32a1ff;
}

.sc-weather .group-data .data-wrap .dust-box .dust-status.s02 {
    color: #02c73c;
}

.sc-weather .group-data .data-wrap .dust-box {}

.sc-weather .group-data .info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 143px;
}

.sc-weather .group-data .info-item {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.sc-weather .group-data .info-item .time {
    color: #606060;
    color: var(--color_caption2);
    font-size: 1.3rem;
    line-height: 16px;
    white-space: nowrap;
}

.sc-weather .group-data .info-item .time.now {
    color: #101010;
    color: var(--color_body);
    font-weight: bold;
}

.sc-weather .group-data .info-item .ico {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 32px;
    height: 32px;
}

.sc-weather .group-data .info-item .ico:before {
    content: "";
    display: block;

    width: 32px;
    height: 32px;

}

.sc-weather .group-data .info-item:nth-child(1) .ico:before {
    background-position: 0px -522px;
}

.sc-weather .group-data .info-item:nth-child(2) .ico:before {
    background-position: -33px -522px;
}

.sc-weather .group-data .info-item:nth-child(3) .ico:before {
    background-position: -33px -522px;
}

.sc-weather .group-data .info-item:nth-child(4) .ico:before {
    background-position: -33px -522px;
}

.sc-weather .group-data .info-item:nth-child(5) .ico:before {
    background-position: -33px -522px;
}

.sc-weather .group-data .info-item .temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
}

.sc-weather .group-data .info-item .temp:before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
    background-color: #ebebeb;
    background-color: var(--color_border_in);
    width: 1px;
}

.sc-weather .group-data .info-item:nth-child(2) .temp {
    margin-top: 15px
}

.sc-weather .group-data .info-item:nth-child(3) .temp {
    margin-top: 20px
}

.sc-weather .group-data .info-item:nth-child(4) .temp {
    margin-top: 25px
}

.sc-weather .group-data .info-item:nth-child(5) .temp {
    margin-top: 25px
}

.sc-weather,
.sc-finance {
    padding: 0 18px;
}

.sc-finance .group-header {
    display: flex;
    padding: 6px 0;
    line-height: 40px;
    justify-content: space-between;
}

.sc-finance .group-header .info-more {
    width: 20px;
    height: 20px;
    position: relative;
}

.sc-finance .group-header .info-more:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -410px -45px;
    width: 14px;
    height: 14px;
    margin: auto;
}

.sc-finance .group-header .nowtime {
    color: #606060;
    color: var(--color_caption2);
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: auto;
    font-size: 1.3rem;
}

.sc-finance .group-header .refresh {
    display: inline-block;
    padding: 12px 0 12px 5px;
}

.sc-finance .group-header .refresh:before {
    content: "";
    display: block;
    background-position: -172px -385px;
    width: 16px;
    height: 16px;
}

.sc-finance .group-header .header_wrap {
    display: flex;
    align-items: center;
}

.sc-finance .group-data {
    display: flex;
    position: relative;
    gap: 18px;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
}

/* .group-header {
    display: flex;
    padding: 6px 0;
    line-height: 40px;
} */



.main-col-right .sc-widgetboard {
    background-color: #f4f6fa;
    background-color: var(--color_board_bg);
    padding: 15px 18px 20px;
    -webkit-box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.main-col-right .sc-widgetboard h2 {
    line-height: 24px;
}

.main-col-right .sc-widgetboard .group-header {
    display: flex;
    padding: 15px 18px 0;
}

.main-col-right .sc-widgetboard .group-header .h-tit {
    color: #080808;
    color: var(--color_title);
    font-size: 1.5rem;
    line-height: 22px;
    font-weight: 800;
}

.main-col-right .sc-widgetboard .group-header .ico-vibe {
    background-position: -69px -254px;
    width: 68px;
    height: 18px;
    margin: 2px 8px 0 0;
}


.main-col-right .sc-widgetboard .wigetbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 192px) auto;
    gap: 12px;
    margin-top: 12px;
}

.main-col-right .sc-widgetboard .wigetbox>div {
    background-color: #fff;
    background-color: var(--color_menu_widget_bg);
    -webkit-box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #ebebeb, 0 1px 2px 0 rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.main-col-right .sc-widgetboard .wigetbox>div.vibe {
    grid-column: span 2;
}

.main-col-right .sc-widgetboard .wigetbox>div.vibe .scroll-col {
    grid-column: span 2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 210px;
    margin: 13px 0 18px 18px;
}

.main-col-right .sc-widgetboard .wigetbox>div.vibe .scroll-col .vibe_list {
    display: flex;
    gap: 12px;
}

.main-col-right .sc-widgetboard .wigetbox>div.vibe .scroll-col .vibe_item {
    width: 108px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9px 7px;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .cal_info {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .link_info_tit {
    color: #080808;
    color: var(--color_title);
    display: block;
    padding-left: 11px;
    font-size: 1.5rem;
    line-height: 34px;
    font-weight: 800;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .info_box {
    height: 132px;
    padding-left: 11px;
    text-decoration: none;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .link_info {
    display: block;
    margin: 8px 0 0 -1px;
    font-size: 3.9rem;
    line-height: 36px;
    letter-spacing: -2px;
    text-decoration: none;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .link_info_day {
    display: inline-block;
    margin: 16px 0 0 9px;
    font-size: 1.3rem;
    line-height: 20px;
    vertical-align: top;
}

.main-col-right .sc-widgetboard .wigetbox .cal .cal-link .link_login {
    position: absolute;
    bottom: 10px;
    left: 11px;
    color: #606060;
    color: var(--color_caption2);
    text-decoration: underline;
}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_top {
    display: flex;
    position: relative;
    padding: 7px 9px;
    border-radius: 8px 8px 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00b869), to(#00c772));
    background-image: -o-linear-gradient(bottom, #00b869, #00c772);
    background-image: linear-gradient(to top, #00b869, #00c772);
    line-height: 34px;
}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_top .memo_tit {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_top:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(255, 255, 255, 0.4)), color-stop(30%, transparent));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.4) 70%, transparent 30%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 70%, transparent 30%);
    background-size: 6px 1px;
}



.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_info .info_list {}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_info .info_item {
    height: 46px;
    padding: 0 18px;
    line-height: 46px;
}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_info .info_item .login-txt {
    color: #606060;
    color: var(--color_caption2);
    display: block;
    line-height: 43px;
    text-decoration: underline;
}

.main-col-right .sc-widgetboard .wigetbox .memo .memo-link .memo_info .info_item+.info_item {
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in_exception);
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago-link {
    position: relative;
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago-link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-position: 0px 0px;
    width: 78px;
    height: 68px;
    transform: translate(-50%, -50%);
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago-link .papago_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 18px 18px 12px 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago_ico {
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.2b26eb67.png);
    background-size: 434px 416px;
    background-position: -164px -183px;
    background-repeat: no-repeat;
    width: 76px;
    height: 17px;
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict-link {
    position: relative;
    height: 100%;
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 14px;
    border-radius: 0 8px 8px 0;
    -webkit-box-shadow: 0 0 0 1px #ebebeb, 1px 0 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #ebebeb, 1px 0 2px 0 rgba(0, 0, 0, .04);
}

.main-col-right .sc-widgetboard .wigetbox .dict .link_search {
    position: absolute;
    right: 14px;
    bottom: 12px;
    width: 38px;
    height: 38px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button2_bg);
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    text-decoration: none;
}

.main-col-right .sc-widgetboard .wigetbox .dict .link_search::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: -364px -300px;
    width: 24px;
    height: 24px;
    margin: auto;
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict_wrap {
    background-color: #fff;
    background-color: var(--color_menu_widget_bg);
    position: relative;
    height: 100%;
    margin-right: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 1px #ebebeb, 1px 0 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #ebebeb, 1px 0 2px 0 rgba(0, 0, 0, .04);
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict_wrap .dict_tit {
    color: #080808;
    color: var(--color_title);
    display: block;
    padding: 16px 18px 19px;
    font-size: 1.5rem;
    line-height: 20px;
    font-weight: 800;
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict_info {
    position: relative;
    display: block;
    height: 106px;
    text-decoration: none;
}

.main-col-right .sc-widgetboard .wigetbox .dict .dict_info::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8effb;
    background: -o-radial-gradient(bottom, circle, #e8effb 1px, transparent 0) top/1px 21px;
    background: radial-gradient(circle at bottom, #e8effb 1px, transparent 0) top/1px 21px;
}

.main-col-right .sc-widgetboard .wigetbox .dict .today_box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 18px;
}

.main-col-right .sc-widgetboard .wigetbox .dict .today_dict {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 105px;
    line-height: 21px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    position: relative;
    font-size: 1.7rem;
    font-weight: bold;
    word-wrap: break-word;
    letter-spacing: -0.2px;
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago_text {
    position: relative;
    margin: 0 13px;
    border-radius: 20px;
    background-color: #00a2ff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .04);
    font-size: 1.3rem;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.main-col-right .sc-widgetboard .wigetbox .papago .papago-text:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .02);
    border-radius: 20px;
}

.sc-content-area {
    display: flex;
    position: relative;
    padding: 8px 50px 8px 18px;
}

.sc-content-area a.group-banner {
    color: #404040;
    color: var(--color_caption1);
    display: flex;
    align-items: center;
    padding: 11px 0;
    gap: 12px;
    min-width: 0;
}


.sc-content-area .img-box {
    width: 42px;
    height: 42px;
}

.sc-content-area .banner_rolling {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sc-content-area .banner_rolling p:first-child {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #101010;
    color: var(--color_body);
    font-weight: bold;
}

.sc-content-area .banner_rolling p:last-child {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
    line-height: 20px;
}

.sc-content-area .banner_indicator {
    position: absolute;
    top: 50%;
    right: 18px;
    height: 6px;
    margin-top: -3px;
}

.sc-content-area .banner_indicator .dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(128, 134, 140, .3);
    vertical-align: top;
    color: rgba(0, 0, 0, 0);
}

.sc-content-area .banner_indicator .dot.on {
    background-color: #03c75a;
}