/* 메인페이지만 메인만 헤더풋터가 다를경우 따로 지정  */


.container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.main-col-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 830px;
}

.sc-news {}

/* .sc-news .group-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 17px;
} */

.sc-news .group-header ul {
    display: flex;
}

.sc-news .group-header ul li {}



.sc-news .group-header .tab-item a {
    font-size: 1.6rem;
    line-height: 23px;
    font-weight: 800;
    color: #08080880;
    -webkit-font-smoothing: antialiased;
}

.sc-news .group-header .tab-item.on a {
    color: #080808;
    color: 'var(--color_title)'
}

.sc-news .group-header .tab-item.dot::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 9px 7px 0;
    border-radius: 50%;
    vertical-align: top;
}

.sc-news .group-header .tab-item.cate {
    position: relative;
    padding-left: 26px;
}

.sc-news .group-header .tab-item.cate::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #ccc;
    top: 5px;
    left: 13px;
    transform: skewX(-15deg);
}

.sc-news .group-issue {
    display: flex;
    background-color: #f5f7f8;
    background-color: var(--color_option_bg);
    margin: 0 20px;
    padding: 12px 20px;
    border-radius: 4px;
    line-height: 26px;
}

.sc-news .group-issue .issue-area {
    display: flex;
    flex: 1;
}

.sc-news .group-issue .issue-area .btn-all::after {
    content: '';
    background-position: -425px -178px;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin: 10px 0 0 5px;
}

.sc-news .group-issue .issue-area .media {
    position: relative;
    padding-left: 25px;
}

.sc-news .group-issue .issue-area .media::before {

    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    width: 1px;
    height: 12px;
}

.sc-news .group-issue .issue-area .media::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 12px 6px 0 6px;
    border-radius: 50%;
    vertical-align: top;
}

.sc-news .group-issue .issue-area .issue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.sc-news .group-issue .news-area {
    display: flex;
}

.sc-news .group-issue .news-area a:last-child {
    position: relative;
    padding-left: 25px;

}


.sc-news .group-issue .news-area a+a::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}

.sc-news .group-media {
    margin: 18px 20px 18px 20px;
    border: 1px solid #ebebeb;
    border: 1px solid var(--color_border_in);
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    height: 224px;
    border-radius: 4px;
}

.sc-news .group-media .media-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;


}

.sc-news .group-media .media-list .media-item a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sc-news .group-media .media-list .media-item img {
    height: 20px;
}

.sc-news .group-media .vt-line {
    position: absolute;
    width: 1px;
    top: 0;
    background-color: #ebebeb;
    height: 100%;
}

.sc-news .group-media .vt-line.vt1 {
    left: calc(131px*1)
}

.sc-news .group-media .vt-line.vt2 {
    left: calc(131px*2)
}

.sc-news .group-media .vt-line.vt3 {
    left: calc(131px*3)
}

.sc-news .group-media .vt-line.vt4 {
    left: calc(131px*4)
}

.sc-news .group-media .vt-line.vt5 {
    left: calc(131px*5)
}

.sc-news .group-media .hr-line {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #ebebeb;
    height: 1px;
}

.sc-news .group-media .hr-line.hr1 {
    top: calc(56px*1)
}

.sc-news .group-media .hr-line.hr2 {
    top: calc(56px*2)
}

.sc-news .group-media .hr-line.hr3 {
    top: calc(56px*3)
}



.sc-news .group-control [class*="btn-"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 10px;
    height: 12px;
    margin: auto;
}

.sc-news .group-control .btn-prev:before {

    background-position: -196px -404px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sc-news .group-control .btn-next:before {
    background-position: -196px -404px;
}

.sc-news .group-control .btn-prev,
.sc-news .group-control .btn-next {
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button1_bg);
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}

.sc-news .group-control .fraction {
    color: #606060;
    color: var(--color_caption2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 35px;
    font-weight: 600;
    vertical-align: top;
}

.sc-news .group-control .fraction .media {
    color: #3a67ea;
    color: var(--color_news);
}

.sc-news .group-control .fraction .total {
    color: rgba(96, 96, 96, .5);
}

.sc-news .group-control {}

.sc-news .group-control .fraction {}

.sc-news .group-control .set-area {
    display: flex;
    flex: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sc-news .group-control .set-area [class*="btn-"] {
    display: flex;
}

.sc-news .group-control .set-area [class*="btn-"]:after {
    content: '';
    width: 20px;
    height: 20px;
}

.sc-news .group-control .set-area .btn-list {
    padding: 18px 9px 18px 20px;
}

.sc-news .group-control .set-area .btn-list::after {
    background-position: -157px -360px;

}

.sc-news .group-control .set-area .btn-thumb {
    padding: 18px 20px 18px 9px;
}

.sc-news .group-control .set-area .btn-thumb::after {
    background-position: -389px -42px;
}

.group-shopping {
    display: flex;
    height: 394px;
    padding: 18px 20px 1px;
    gap: 20px
}

.group-shopping .shop-area-left {
    position: relative;
    width: 522px;
}

.group-shopping .shop-area-left>ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
    align-content: space-between;
}

.group-shopping .shop-area-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1;
}

.group-shopping .shop-area-right .mall-wrap {
    position: relative;
    padding: 9px 11px 4px;
    border-radius: 4px;
    background: rgba(245, 248, 251, .6);
}

.group-shopping .shop-area-right .mall-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: inherit;
}

.group-shopping .shop-area-right .mall-wrap .mall-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.group-shopping .shop-area-right .mall-wrap .mall-box a {
    color: #404040;
    color: var(--color_caption1);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.group-shopping .shop-area-right .shopping-wrap {
    position: relative;
    padding: 9px;
    border-radius: 4px;
    background: rgba(245, 248, 251, .6);
}

.group-shopping .shop-area-right .shopping-wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: inherit;
}

.group-shopping .shop-area-right .shopping-wrap ul {
    position: relative;
    display: flex;
}

.group-shopping .shop-area-right .shopping-wrap li {
    flex: 1 1;
}

.group-shopping .shop-area-right .shopping-wrap li a {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: #404040;
    color: var(--color_caption1);
    margin-top: 2px;
    font-size: 13px;
    line-height: 20px;
}

.group-shopping .shop-area-right .shopping-wrap li a [class*="ico-"] {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(238, 242, 248, .8);
}

.group-shopping .shop-area-right .shopping-wrap li a [class*="ico-"]:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-shopping .shop-area-right .shopping-wrap li a .ico-shop.home:after {
    background-position: -34px 0;

}

.group-shopping .shop-area-right .shopping-wrap li a .ico-shop.point:after {
    background-position: -68px -34px;
}

.group-shopping .shop-area-right .shopping-wrap li a .ico-shop.order:after {
    background-position: -34px -34px;
}

.group-shopping .shop-area-right .shopping-wrap li a .ico-shop.bag:after {
    background-position: -19px -121px;
    width: 17px;
    height: 16px;
}

.group-shopping {}

.sc-content-area {
    display: flex;
    position: relative;
    padding: 8px 50px 8px 18px;
}

.sc-content-area a.group-banner {
    color: #404040;
    color: var(--color_caption1);
    display: flex;
    align-items: center;
    padding: 11px 0;
    gap: 12px;
    min-width: 0;
}


.sc-content-area .img-box {
    width: 42px;
    height: 42px;
}

.sc-content-area .banner_rolling {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sc-content-area .banner_rolling p:first-child {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #101010;
    color: var(--color_body);
    font-weight: bold;
}

.sc-content-area .banner_rolling p:last-child {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #606060;
    color: var(--color_caption2);
    line-height: 20px;
}

.sc-content-area .banner_indicator {
    position: absolute;
    top: 50%;
    right: 18px;
    height: 6px;
    margin-top: -3px;
}

.sc-content-area .banner_indicator .dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(128, 134, 140, .3);
    vertical-align: top;
    color: rgba(0, 0, 0, 0);
}

.sc-content-area .banner_indicator .dot.on {
    background-color: #03c75a;
}

.sc-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 20px 18px;
}

.sc-login .login-more {
    display: flex;
    justify-content: center;
    color: #606060;
    color: var(--color_caption2);
    margin-top: 16px;
    font-size: 1.3rem;
}

.sc-login .login-more a {
    display: flex;
    align-items: center;
}

.sc-login .login-more a+a::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 0 12px;
}

.sc-login .link-login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 13px;
    padding: 17px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
    background-color: #03c75a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    color: #fff;
}

.sc-login .link-login::before {
    width: 72px;
    height: 14px;
    background-position: -120px -166px;
    content: '';
}

.main-col-right {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-col-right h2 {
    color: #080808;
    color: var(--color_title);
    display: inline-block;
    padding-right: 7px;
    font-size: 1.5rem;
    font-weight: 800;
    vertical-align: top;
}

.main-col-right .sc-weather .header_wrap {
    display: flex;
    flex: 1;
}

.main-col-right .sc-weather .header_wrap .wth_data {
    border: 1px solid var(--color_border_in_divider);
    background-color: var(--color_button1_bg);
    color: var(--color_caption2);
    display: inline-block;
    min-width: 75px;
    height: 26px;
    margin-top: 7px;
    padding: 0 10px 0 7px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 25px;
    vertical-align: top;
    text-decoration: none;
}

.main-col-right .sc-weather .header_wrap .wth_data::before {
    content: "";
    display: inline-block;
    background-position: -117px -404px;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
    vertical-align: top;
}

.main-col-right .sc-weather .location {
    color: var(--color_caption2);
    margin-left: auto;
    font-size: 1.3rem;
}

.main-col-right .sc-weather .group-data {
    display: flex;
}

.main-col-right .sc-weather .group-data .data-wrap {
    flex: 1;
}

.main-col-right .sc-weather .group-data .info-list {
    display: flex;
}

.main-col-right .sc-weather .group-data .info-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-col-right .sc-weather,
.main-col-right .sc-finance {
    padding: 0 18px;
}

/* .main-col-right .group-header {
    display: flex;
    padding: 6px 0;
    line-height: 40px;
} */

.main-col-right .group-data {
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-col-right .sc-widgetboard {
    background-color: #f4f6fa;
    background-color: var(--color_board_bg);
    padding: 15px 18px 20px;
    -webkit-box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.common-frame {
    background-color: #fff;
    background-color: var(--color_block_bg);
    position: relative;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
    overflow: hidden;
}

.control-fx {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 16px;
    border-top: 1px solid #ebebeb;
    border-top: 1px solid var(--color_border_in);
    padding: 10px 0 11px;
}

.header-fx {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 17px;
}